<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/products" class="navbar a">Productos</a>
            <a href="/cart/67a4f5e1ef134b8344a2c1c5" class="navbar a">Carrito</a>
        </div>
    </header>
    {{{body}}}
    <footer>
        Proyecto Final
    </footer>
</body>
</html>